<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout.html :: html_head"/>
<body>
  <div th:replace="layout.html :: menu"/>
  
    <h3>Edit Extra Hour Application Page</h3>
  <form action="#" th:action="@{/exstaff/extra/put/}"
    th:object="${extra}" method="post">
    <table>
      <tbody>
        <tr>
          <td><input type="hidden" th:field="*{id}" required/><input type="hidden" th:field="*{Staff_id}" required> 
             <span>Working Hour</span></td>
          <td><input type="text" th:field="*{working_hour}" size="40" required/></td>
          <td th:if="${#fields.hasErrors('working_hour')}"
            th:errors="*{working_hour}"></td>
        </tr>
        <tr>
          <td><span>Date</span></td>
          <td><input type="date" th:value="*{date}" th:field="*{date}"  /></td>
          <td th:if="${#fields.hasErrors('date')}"
          th:errors="*{date}"></td>
        </tr>
        <tr>
          <td><span th:text="Status"></span></td>
          <td><input type="text" th:field="*{status}" size="20"
            readonly="readonly" required/></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="Update" class="blcass" required/>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</body>
</html>