<!DOCTYPE html>
<html lang="en">
  <head th:replace="layout.html :: html_head"/>
<body>
  <div th:replace="staff/stafflayout.html :: menu"/>
  <h2>Your Extra Hour Application History</h2>

  <div th:if="${#lists.isEmpty(ehistory)}">
    <p>You have no record. Start applying a new one.</p>
  </div>
  
  <div th:if="${not #lists.isEmpty(ehistory)}">
    <table style=" border: 1;">
      <tr class="listHeading">
        <th><span>ID</span></th>
        <th><span>Staff ID</span></th>
        <th><span>Date</span></th>
        <th><span>Working Hour</span></th>
        <th><span>Status</span></th>
        <th><span>Update</span></th>
        <th><span>Delete</span></th>
      </tr>
      <tr th:each="ExtraHour : ${ehistory}" class="listRecord">
        <td align="left" th:text="${ExtraHour.id}">ID</td>
        <td align="left" th:text="${ExtraHour.Staff_id}">Staff ID</td>
        <td align="left" th:text="${#temporals.format(ExtraHour.date, 'yyyy-MM-dd')}">Date</td>
        <td align="left" th:text="${ExtraHour.working_hour}">Working Hour</td>
        <td align="left" th:text="${ExtraHour.status}">Status</td>
        <td>
          <div
            th:if="${#strings.equals(ExtraHour.status, 'SUBMITTED')  or #strings.equals(ExtraHour.status,'UPDATED')}">
            <a th:href="@{/exstaff/extra/put/}+${ExtraHour.id}">Update</a>
          </div>
        </td>
        <td>
          <div
            th:if="${#strings.equals(ExtraHour.status, 'SUBMITTED')  or #strings.equals(ExtraHour.status,'UPDATED')}">
            <a th:href="@{/extra/delete/}+${ExtraHour.id}">Delete</a>
          </div>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>