<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout.html :: html_head"/>
<body>
    <div th:replace="layout.html :: menu"/>
    
    <form action="#" th:action="@{/staff/leave/create}"
    th:object="${leave}" method="post">
    <table>
      <tbody>
        <tr>
          <td><span>Leave Type</span></td>
          <td>            
            <fieldset>
                <select th:field="*{type}">
                    <option value="MEDICAL_LEAVE">Medical Leave</option>
                    <option value="ANNUAL_LEAVE">Annual Leave</option>
                    <option value="COMPENSATION_LEAVE">Compensation Leave</option>
                </select>
            </fieldset>
          </td>
          <td th:if="${#fields.hasErrors('type')}"
            th:errors="*{type}"></td>
        </tr>
        <tr>
          <td><span>Start Date</span></td>
          <td><input type="date" th:value="*{startDate}" th:field="*{startDate}"  /></td>
          <td th:if="${#fields.hasErrors('startDate')}"
            th:errors="*{startDate}"></td>
        </tr>
        <tr>
          <td><span>End Date</span></td>
          <td><input type="date" th:value="*{endDate}" th:field="*{endDate}" /></td>
          <td th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></td>
          <td th:if="${param.error}">Not Enough Leave To Apply <span th:text="${error}"></span></td>
        </tr>
        <tr>
            <td><span>workDissemination</span></td>
            <td><input type="text" th:field="*{work}"></td>
            <td th:if="${#fields.hasErrors('work')}" th:errors="*{work}"></td>
        </tr>
        <tr>
          <td><span>Half Day Leave</span></td>
          <td><input type="checkbox" th:field="*{halfday}" /></td>
          <td th:if="${#fields.hasErrors('halfday')}" th:errors="*{halfday}"></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="Create" class="blcass" />
            <input type="reset" value="Reset" class="blcass" />
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</body>
</html>