<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head"/>

<body>
  <div th:replace="fragments/layout.html :: menu"/>
  <div th:replace="fragments/layout.html :: header"/> 
  <h3 th:utext="Extra Hour Application History"></h3>

  <!-->the controller returns the list to the view<!-->
  <div th:if="${not #lists.isEmpty(pendinghistory)}">
    <table>
      <tr class="listRecord" th:each="entry, stat : ${pendinghistory} ">
        <td>
          <h4 th:text="${entry.key.name}">Name</h4>          
          <div th:if="${#lists.isEmpty(entry.value)}">
            <p>No Pending Courses</p>
          </div>
          <div th:if="${not #lists.isEmpty(entry.value)}">
            <table style="border: 1;">
              <tr class="listHeading">
                <th><span th:text="ID"></span></th>
                <th><span th:text="Date"></span></th>
                <th><span th:text="Working Hour"></span></th>
                <th><span th:text="Status"></span></th>
                <th th:utext="Approve"></th>
                <th th:utext="Reject"></th>
              </tr>
              <tr class="listRecord" th:each="ExtraHour : ${entry.value}">
                <td align="left" th:text="${ExtraHour.id}">ID</td>
                <td align="left" th:text="${${#temporals.format(ExtraHour.date, 'yyyy-MM-dd')}"}">Date</td>
                <td align="left" th:text="${ExtraHour.working_hour}">Working Hour</td>
                <td align="left" th:text="${ExtraHour.status}">Status</td>
                <td><a th:href="@{/extra/approve/put/}+${ExtraHour.id}"
                    class="btn btn-default"><span th:text="Approve"></span></a></td>
                    <td><a th:href="@{/extra/reject/put/}+${ExtraHour.id}"
                      class="btn btn-default"><span th:text="Reject"></span></a></td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>