<!DOCTYPE html>
<html lang="en">
    <head th:fragment="html_head" id="html_head">
        <meta charset="ISO-8859-1">
        <title>Leave Application Approve System</title>
        <link rel="stylesheet" th:href="@{/css/simple.css}" />        
    </head>
<body>
    <div th:fragment="menu" id="menu">
        <nav class="navbar">
            <a th:href="@{/about}">Leave Applying System</a>
            <a th:href="@{/home}">Home</a>
            <a th:href="@{/about}">About</a>
            <div th:if="${session.usession?.name}">
              <div th:if="${session.usession.name == 'manager'}">                
                  <div class="subnav">
                      <button class="subnavbtn">Manager Menu <i class="fa fa-caret-down"></i></button>
                      <div class="subnav-content">
                      <a th:href="@{/manager/pending}">Pending Approvals</a>
                      <a th:href="@{/manager/subordinates-history}">Leave Subordinates History</a>
                      <a th:href="@{/managere/overtime/pending}">Overtime Approvals</a>
                      <a th:href="@{/managere/overtime/subordinates-history}">Overtime Subordinates History</a>
                      </div>
                  </div>
              </div>
            
              <div th:if="${session.usession.name == 'staff' or session.usession.name == 'manager'}">
                <div class="subnav">
                  <button class="subnavbtn">Staff Menu <i class="fa fa-caret-down"></i></button>
                  <div class="subnav-content">
                    <a th:href="@{/staff/leave/history}">View Your Leave History</a>
                    <a th:href="@{/staff/leave/create}">Apply For New Leave</a>
                    
                  </div>
                </div>    
                <div class="subnav">
                  <a th:href="@{/calendar}">Cal</a>
                </div>
                <div class="subnav">
                  <button class="subnavbtn">Overtime Work Menu<i class="fa fa-caret-down"></i></button>
                  <div class="subnav-content">
                    <a th:href="@{/exstaff/extra/history}">Overtime working History</a>
                    <a th:href="@{/exstaff/overtime/create}">Apply Overtime Work Form</a>
                  </div>
                </div>  
              </div>              
            </div>
              <form th:action="@{/logout}" method="post">
                <a>
                  <input display="none" type="submit" value="LogOut"/></a>
              </form>        
            </form>
          </nav>
      </div>
</body>
</html>
